body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .b-example-divider {
    flex-shrink: 0;
    width: 0.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .nav-flush .nav-link {
    border-radius: 0;
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
















  


.sidebar {
    position: fixed; /*Fixa a posição do navbar*/
    top: 0;
    display: flex;
    flex-direction: column;/*Posiciona os itens em forma de coluna*/
    align-items: flex-start; /*Não deixa os itens colado na lateral*/
    width: 240px; /*Largura da sidebar*/
    height: 100%; /*Usa toda a altura da tela*/
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    transition: all 0.35s;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.logo-img{
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;/*Deixa a imagem exatamente do jeiro que quer, sem ficar esticada*/
    transition: transform 0.4s; /*Faz a imagem demorar um pouco para aumentar*/
    margin-left: 10px;
}

.logo-img:hover{
    transform: scale(1.5);/*Quando passa o mouse por cima a imagem fica maior*/
}

.sidebar button {/*Estiliza todos os botões que estão dentro do sidebar*/
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;/*Mostra quando passa o cursor por cima*/
    text-align: left; /*Deixa o texto sempre na esquerda*/
    padding: 0;
}

.sidebar button > span { /*Alinhar os botões um embaixo do outro*/
    display: inline-flex;
    align-items: center;
    gap: 12px; /*Espaçamento entre o texto e o ícone*/
    height: 48px;
    padding: 0 16px 0 12;
    border-radius: 24px;
    line-height: 1; /*Altura da linha*/
    transition: all 0.4s;
}

.sidebar button:hover > span{
    background: rgba(255, 255, 255, 0.08);
}

.sidebar button i { /*Vai alterar os icones*/
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;
}

.sidebar > nav{
    /*
    Flex Group (1): quanto vai crescer o item
    Flex-shirink (1): define o fator de redução
    Flex-basis (auto): tamanho base de cada item
    */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main{
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

/*Ajustar o sidebar com apenas os icones*/
@media  (width < 920px){
    .sidebar{
        width: 72px;
    }

    .sidebar button > span{
        width: 50px;
    }

    .sidebar button > span > span{
        opacity: 0; /*Faz sumir o span que está escrito as coisas*/
        visibility: hidden;
    }

    .main{
        transition: margin 0.4s;
        margin-left: 78px;
    }
}

/*Ajustando o mobile*/
.button-mobile {
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: #FFF;
    border: 0;
}

.button-mobile span{
    font-size: 18px;
    margin-left: 18px;
}

.button-close span i{
    font-size: 42px;
}

.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;/*Pega o tamanho máximo de uma tela*/
    height: 100vh;
    background-color: #000;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /*Se passar alguma coisa da tela tem que esconder*/
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}

.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}

.mobile-text{
    font-size: 22px;
    margin-left: 8px;
}

@media (max-width: 480px){
    .sidebar{
        display: none;
    }

    .button-mobile{
        display: flex;
    }

    .main{
        margin-left: 6px;
    }
}